
@model IEnumerable<Album>
@{
    ViewBag.Title = "ListStronglyTyped";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListStronglyTyped</h2>
<ul>
    @foreach (Album a in Model)
    {
        <li>@a.Title</li>
    }
    
</ul>
